# How pytest execute work together

#pytest → conftest.py → page fixture
#                      ↓
#                  BasePage
#                      ↓
#              VerticalMenuBase
#                      ↓
#                Page Objects
playwright
pytest
pytest-playwright
pytest-html
