# How pytest execute work together

#pytest → conftest.py → page fixture
#                      ↓
#                  BasePage
#                      ↓
#              VerticalMenuBase
#                      ↓
#                Page Objects
#python -m venv venv
#venv\Scripts\activate
pip install playwright
playwright install
#pip insall pytest-playwright
pip install pytest playwright pytest-playwright
playwright install
pip install pytest-html
